@model AICloudReport.Models.Report.SendQuote;

@{
  Layout = null;
  var materials = Model.Materials;
  var services = Model.Services;
}
<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>invoice</title>
    <style>
        body {
            font-family: Helvetica;
            margin-left: 30px;
        }


        /* Create two equal columns that floats next to each other */
        .column {
            float: left;
            width: 50%;
        }

        /* Clear floats after the columns */
        .row:after {
            content: "";
            display: table;
            clear: both;
        }

        .invoice {
            margin-left: 50%;
            color: #204968;
        }

        .bill {
            width: 50%;
            height: 30%;
            background-color: #204968;
            color: white;
        }

        .bills {
            width: 100%;
            height: 30%;
            background-color: #204968;
            color: white;
        }

        .ship {
            width: 50%;
            height: 30%;
            background-color: #204968;
            color: white;
            margin-left: 35%;
        }

        h3 {
            margin-left: 20px;
        }

        .inv-items {
            margin-left: 35%;
            margin-top: 30px;
            ` `
        }

        .box {
            margin-left: 31%;
        }

        .box1 {
            margin-left: 23%;
        }

        .box2 {
            margin-left: 17%;
        }

        .box3 {
            margin-left: 8%;
        }

        .box4 {
            margin-left: 10%;
        }

        .box5 {
            margin-left: 25%;
        }

        .image-upload {
            width: 40%;
            height: 50px;
            border-radius: 15px;
            margin-bottom: 60px;
        }

        th {
            background-color: #204968;
            color: white;
        }

        table {
            font-family: arial, sans-serif;
            border-collapse: collapse;
            width: 100%;
            margin-bottom: 30px;
        }

        td, th {
            border: 1px solid #999999;
            text-align: left;
            padding: 8px;
        }

        tr:nth-child(even) {
            background-color: #dddddd;
        }

        .text-area {
            margin-top: -20px;
        }

        .myFile {
            margin-top: 30px;
            margin-bottom: 15%;
        }
    </style>
</head>

<body>
    <div class="row">
        <div class="column">
            <h1>AI Cloud Builders</h1>
            <h4>Smart Support</h4>
            @*<form action="/action_page.php">
            Uplad Logo   <input type="file" class="myFile" id="myFile" name="filename">
            <input type="submit">
        </form>*@
            <img src="https://www.aicloudbuilders.com/wp-content/uploads/2020/04/cropped-AICloud_Website-Logo.png" alt="aicloud" class="myFile" width="400" height="100">
            <!-- <input class="image-upload" type="text"> -->
            <div class="bill">
                <h3>Bill To:</h3>
            </div>
            <h4>
                Alan Thomas<br><br>
                AI Cloud Builders<br><br>
                Iriving<br><br>
                Dallas,Texas<br><br>
                +1 469-998-1977
            </h4>
        </div>
        <div class="column">
            <h1 class="invoice">Invoice</h1>
            <h4 class="inv-items">
                Date: <input class="box" type="text" value="@DateTime.Now.ToString("dd/MM/yyyy")"><br><br>
                Invoice #:   <input class="box1" type="text" value="00001"><br><br>
                Customer ID: <input class="box2" type="text" value="001"><br><br>
                Purchase Order #: <input class="box3" type="text" value="098732"><br><br>
                Payment Due by: <input class="box4" type="text" value="@DateTime.Now.AddDays(30).ToString("dd/MM/yyyy")">
            </h4>
            <div class="ship">
                <h3>Ship To (if Different):</h3>
            </div>
            <h4 class="inv-items">
                [Name]<br><br>
                [Company Name]<br><br>
                [Street Address]<br><br>
                [City, ST Zip Code]<br><br>
                [Phone]
            </h4>
        </div>
    </div>

    <table>
        <tr>
            <th>Salesperson</th>
            <th>Shipping Method</th>
            <th>Shipiing Terms</th>
            <th>Payment Terms</th>
            <th>Due Date</th>
            <th>Delivery Date</th>
        </tr>
        <tr>
            <td>[Name]</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
    </table>
    <table>
        <tr>
            <th>Item #</th>
            <th>Description</th>
            <th>Qty</th>
            <th>Unit Price</th>
            <th>Line Total</th>
        </tr>
        @foreach (var material in Model.Materials)
        {
            <tr>
                <td>1</td>
                <td>@material.Name</td>
                <td>@material.Quantity</td>
                <td>@material.UnitPrice</td>
                <td>@material.UnitPrice</td>
            </tr>
        }

        @*<tr>
            <td>112233</td>
            <td>Printer Paper A4 500*5</td>
            <td>2</td>
            <td>35.00</td>
            <td>70.00</td>
        </tr>*@
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td>-</td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td>-</td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td>-</td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td>-</td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td>-</td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td>-</td>
            <td>-</td>
        </tr>
    </table>
    <div class="row">
        <div class="column">
            <div class="bills">
                <h3>Special Notes and Instructions</h3>
            </div>
            <textarea class="text-area" rows="15" cols="70"></textarea>
        </div>
        <div class="column">
            <h4 class="inv-items">
                Sub Total <input class="box2" type="text"><br><br>
                Sales Tax Rate <input class="box3" type="text"><br><br>
                Sales Tax <input class="box2" type="text"><br><br>
                S&H <input class="box5" type="text"><br><br>
                Discount <input class="box2" type="text"><br><br>
                Total<br><br>
            </h4>
        </div>
    </div>
    <h5><center>Make all checks payable to My Company name</center></h5>
    <h5><b><center>Thank you for your business!</center></b></h5>
    <h5><center>Should you have any enquiries concerning this invoice, please contact John Doe</center></h5>
</body>
</html>